
<div class="container mt-5 pt-5 mb-4">
	<div class="jumbotron main-jumbotron text-center pb-5 rounded-0">
		<p class="text-shadow h1 text-primary">Move and Groove, fitness tracker made simple</p>
	</div>
	<div class="row">
		<%= image_tag "family-activity.jpg", class: "col-8 offset-2" %>
	</div>
</div>


