<div class="text-center">
    <h1 class="text-primary mt-2 mb-4">Editing Activity</h1>

<%= render 'form', activity: @activity %>

<span class="mr-4"><%= link_to 'Show', @activity %></span>
<%= link_to 'Back', activities_path %>
</div>
